@layer components {
  .dropdown {
    position: relative;
    .dropdown-trigger {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.625rem;      
      padding-block: calc(var(--spacing) * 2);
      padding-inline: calc(var(--spacing) * 2.5) /* 0.625rem = 10px */;
      border-radius: var(--radius-md) /* 0.375rem = 6px */;
    }
    .dropdown-content {
      position: absolute;
      right: calc(var(--spacing) * 0) /* 0rem = 0px */;
      top: calc(var(--spacing) * 12) /* 3rem = 48px */;
      padding-block: calc(var(--spacing) * 1.5) /* 0.375rem = 6px */;
      padding-inline: calc(var(--spacing) * 2) /* 0.5rem = 8px */; 
      border-radius: 0.25rem /* 4px */;
      z-index: 10;
      transform-origin: top right;
      width: calc(var(--spacing) * 48) /* 12rem = 192px */;
    }
  }
}
