@import "tailwindcss";


@import "./components/index.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*colores azul*/
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
  /*colores naranja*/
  --color-orange-500: hsl(28, 100%, 52%);
  /*colores neutrales*/
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /*fonts*/
  --font-Bricolage:'Bricolage Grotesque', sans-serif;
  --font-dm:'DM Sans Variable', sans-serif;
}

@utility noscroll {
  scrollbar-width: none;
}

body {
  @apply transition-colors duration-300 ease-in-out;
}
