---
import "../styles/global.css";

import SearchBar from "../components/SearchBar.astro";
import Header from "../sections/header.astro";

const geoApiEndpoint =
  "https://geocoding-api.open-meteo.com/v1/search?name=[QUERY]&count=5&language=en&format=json";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Header />
      <div
        x-data="{
          selectedCity: null,
          getCityData() {
            if (!this.selectedCity) {
              alert('Please select a city first');
              return;
            }
            $store.app.fetchWeatherData(this.selectedCity);
            this.$dispatch('clear-search-input');
          }
        }"
        @city-selected.window="selectedCity = $event.detail"
      >
        <div class="">
          <SearchBar
            apiEndpoint={geoApiEndpoint}
            placeholder="Search for a city..."
          />
          <button @click="getCityData()" class=""> Get City Data </button>
        </div>
        <div x-show="$store.app.isLoading" class="">
          Cargando datos de la ciudad...
        </div>

        <!-- Contenedor para mostrar la ciudad y el país -->
        <div x-show="!$store.app.isLoading && $store.app.location.city" class="mt-4">
          <h2 class="text-2xl font-bold" x-text="$store.app.location.city"></h2>
          <p class="text-lg text-gray-600" x-text="$store.app.location.country"></p>
        </div>

        <pre
          x-show="$store.app.currentData"
          x-text="JSON.stringify($store.app.currentData, null, 2)"
          class="mt-4 p-4 bg-gray-100 rounded">
        </pre>
        <pre
          x-show="$store.app.dailyData"
          x-text="JSON.stringify($store.app.dailyData, null, 2)"
          class="mt-4 p-4 bg-gray-100 rounded">
        </pre>
           <pre
          x-show="$store.app.hourlyData"
          x-text="JSON.stringify($store.app.hourlyData, null, 2)"
          class="mt-4 p-4 bg-gray-100 rounded">
        </pre>
      </div>
    </main>
  </body>
</html>

<script type="module" src="../../src/utils/app.js"></script>
