---
import "../styles/global.css";

import SearchBox from "../sections/SearchBox.astro";
import Header from "../sections/header.astro";
import CurrentWeather from "../sections/CurrentWeather.astro";
import DailyWeather from "../sections/DailyWeather.astro";
import HourlyWeather from "../sections/HourlyWeather.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Header />
      <div
        x-data="{
          selectedCity: null,
          getCityData() {
            if (!this.selectedCity) {
              alert('Please select a city first');
              return;
            }
            $store.app.fetchWeatherData(this.selectedCity);
            this.$dispatch('clear-search-input');
          }
        }"
        @city-selected.window="selectedCity = $event.detail"
      >
        <SearchBox />
        <div x-show="$store.app.isLoading" class="">
          Cargando datos de la ciudad...
        </div>

        <CurrentWeather />
        <DailyWeather />
        <HourlyWeather />
       </div>
    </main>
  </body>
</html>

<script type="module" is:inline src="../../src/utils/app.js"></script>
