---
import Theme from "@components/Header/Theme.astro";
import Units from "@components/Header/Units.astro";
import logoDark from "@assets/icons/logo-dark.svg"
import logoLight from "@assets/icons/logo.svg"

---

<header class="flex flex-row items-center justify-between" x-data>
  <a href="/" aria-label="Homepage">
    <!-- Logo para modo claro -->
    <img x-show="!$store.darkMode.dark" src={logoLight.src} alt="Weather App Logo" class="h-8 w-auto">
    <!-- Logo para modo oscuro, oculto por defecto para evitar parpadeo -->
    <img x-show="$store.darkMode.dark" src={logoDark.src} alt="Weather App Logo" class="h-8 w-auto" style="display: none;">
  </a>
  <div class="flex gap-4">
    <Theme />
    <Units/>
  </div>
</header>
