---
import {
  Dropdown,
  DropdownContent,
  DropdownTrigger,
} from "../components/dropdown";
---

<header>
  <div>logo</div>
  <Dropdown >
    <DropdownTrigger slot="trigger">Units</DropdownTrigger>
    <DropdownContent slot="content">
      <!-- Usamos el store global de Alpine -->
      <div x-data>
        <input 
          type="checkbox" 
          id="unit-switch" 
          :checked="$store.app.unitSystem === 'imperial'"
          @change="$store.app.toggleUnitSystem()" />
        <label for="unit-switch" x-text="$store.app.unitSystem === 'metric' ? 'Switch to Imperial' : 'Switch to Metric'"></label>
      </div>
    </DropdownContent>
  </Dropdown>
</header>
