---
import SearchBar from "../components/SearchBar.astro";

const geoApiEndpoint =
  "https://geocoding-api.open-meteo.com/v1/search?name=[QUERY]&count=5&language=en&format=json";
---

<div class="flex flex-wrap gap-3 items-center lg:px-20">
  <SearchBar apiEndpoint={geoApiEndpoint} placeholder="Search for a city..." />
  <button @click="getCityData()" class="btn bg-neutral-900 text-neutral-0 dark:bg-blue-500"> Search </button>
</div>
